@import "master.scss";

$text-size: 14px;

$background-color: rgba($main-color, 0.9);

html, body {
	font-size: $text-size;
	color: $text-color;
}

a, a:hover {
	text-decoration: none;
	background-color: transparent;
}

#menu {
	border: none;
	font-size: $text-size + 2;
	background-color: rgba(255,255,255,0.9);
	padding: 20px;
	margin: 0;

	a.navbar-brand {
		font-size: $text-size + 5;
		color: $text-color;
		font-weight: 400;
		transition: $transition-time;
	}

	.shape {
		transition: $transition-time;
		height: 35px;
		width: 20px;
		fill: $text-color;
	}

	.brand:hover {
		cursor: pointer;

		.navbar-brand {
			color: $main-color;
		}
		.shape {
			fill: $main-color;
		}
	}

	.navbar-nav > li > a {
		letter-spacing: 1px;
		color: $text-color;
		transition: $transition-time;
	}

	.navbar-nav > li > a:hover {
		color: $main-color;
	}
}

.intro {
	width: 70%;
	margin: 0 auto;
	padding: 35vh 0;
}

.header {
	display: inline-block;

	.name {
		font-size: $text-size + 30;
		font-weight: 700;
	}

	.description {
		font-size: $text-size;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 0.25em;
	}
}

.link {
	margin: 5px 0px;

	a, a:active {
		transition: $transition-time;
		text-decoration: none;
		border-bottom: 1px solid $text-color;
		padding-bottom: 1px;
		color: $text-color;
	}

	a:hover {
		color: $main-color;
		border-bottom: 1px solid $main-color;

		.arrow {
			margin-left: 0.3em;
			border: solid 1px $main-color;
		    border-width: 0 1px 1px 0;
		    display: inline-block;
		    padding: 3px;
		    transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		}
	}

	.arrow {
		margin-left: 0.3em;
		border: solid 1px $text-color;
	    border-width: 0 1px 1px 0;
	    display: inline-block;
	    padding: 3px;
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	}
}

.square {
	display: inline-block;
	padding-left: 15px;
	transform-origin: 40px 100px;

	rect {
		transition: $transition-time;
		fill: $text-color;
	}

	rect:hover {
		fill: $main-color
	}
}

.content {
	width: 70%;
	margin: 0 auto;
	font-size: $text-size + 2;
	padding-bottom: $text-size * 5;

	p {
		padding: 10px 0;
		margin: 0;
	}

	img {
		margin: 10px 0;
	}

	img.cover {
		width: 100%;
	}

	img.inline {
		width: 50%;
	}

	img.left {
		float: left;
		margin-right: 15px;
	}

	img.right {
		float: right;
		margin-left: 15px;
	}

	.section {
		font-weight: 100;
		margin: 20px 0;

		.title {
			display: inline;
			font-size: $text-size + 1;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			margin-right: 15px;
		}

		.skills {
			display: inline;
			font-size: $text-size;
			margin-left: 5px;
			text-transform: none;
			letter-spacing: 0;
			background-color: $gray;
			padding: 5px 15px;
		}
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid $text-color;
		color: $text-color;
	}
	a:hover {
		color: $main-color;
		border-bottom: 1px solid $main-color;
	}
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
