@import "master.scss";

$background-color: rgba($main-color, 0.9);

html, body {
	color: $text-color;
}

a, a:hover {
	text-decoration: none;
	background-color: transparent;
}

.intro {
	width: 70%;
	margin: 0 auto;
	padding: 35vh 0;
	transition: $transition-slow;
}

.header {
	display: inline-block;

	.name {
		font-size: $item-title;
		line-height: $item-title;
		font-weight: 700;
		margin-bottom: 5px;
	}

	.description {
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.25em;
		margin-bottom: 15px;
	}
}

.link {
	font-size: $content-text;
	font-weight: 300;

	a, a:active {
		transition: $transition-fast;
		text-decoration: none;
		border-bottom: 1px solid $text-color;
		color: $text-color;
	}

	a:hover {
		color: $main-color;
		border-bottom: 1px solid $main-color;

		.arrow {
			margin-left: 0.3em;
			border: solid 1px $main-color;
		    border-width: 0 1px 1px 0;
		    display: inline-block;
		    padding: 3px;
		    transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		}
	}

	.arrow {
		margin-left: 0.3em;
		border: solid 1px $text-color;
	    border-width: 0 1px 1px 0;
	    display: inline-block;
	    padding: 3px;
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	}
}

.square {
	position: absolute;
	width: 50px;
	height: 50px;
	margin-top: 25px;
	margin-left: 25px;
	display: inline-block;

	svg {
		width: 100%;
		height: 100%;
	}

	rect {
		transition: $transition-fast;
		fill: $text-color;
	}

	rect:hover {
		fill: $main-color
	}
}

.skill {
	display: inline;
	font-size: $text-size;
	text-transform: none;
	letter-spacing: 0;
	background-color: $background-highlight;
	padding: 5px 15px;
	white-space: nowrap;
	line-height: 34px;
}

.content {
	width: 70%;
	margin: 0 auto;
	font-weight: 300;
	font-size: $content-text;
	padding-bottom: 60px;
	transition: $transition-slow;

	ul, ol, p {
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0;
	}
	
	img {
		margin: 10px 0;
		image-orientation: from-image;
	}

	img.cover {
		width: 100%;
	}

	img.inline {
		width: 50%;
	}

	img.left {
		float: left;
		margin-right: 15px;
	}

	img.right {
		float: right;
		margin-left: 15px;
	}

	.section {
		font-weight: 300;
		margin: 20px 0;

		.title {
			display: inline;
			font-size: $content-title;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			margin-right: 20px;
		}
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid $text-color;
		color: $text-color;
	}
	a:hover {
		color: $main-color;
		border-bottom: 1px solid $main-color;
	}

	.video { 
		position: relative; 
		padding-bottom: 56.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%; 
		height: auto; 
		margin: 10px 0;
	} 

	.video iframe, .video object, .video embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@include tablet {
	.content, .intro {
		width: 90%;
	}

	.content {
		.section {
			.title {
				display: block;
				margin-bottom: 10px;
			}
		}
	}
}

@include mobile {
	.square {
		display: none;
	}

	.content, .intro {
		width: 90%;
	}

	.content {
		.section {
			.title {
				display: block;
				margin-bottom: 10px;
			}
		}
		img.cover, img.inline.left, img.inline.right {
			float: none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}