html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

#menu {
  border: none;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 0; }
  #menu a.navbar-brand {
    font-size: 19px;
    color: #5a5a5a;
    font-weight: 400;
    transition: 0.25s; }
  #menu .shape {
    transition: 0.25s;
    height: 35px;
    width: 20px;
    fill: #5a5a5a; }
  #menu .brand:hover {
    cursor: pointer; }
    #menu .brand:hover .navbar-brand {
      color: #5A80BC; }
    #menu .brand:hover .shape {
      fill: #5A80BC; }
  #menu .navbar-nav > li > a {
    letter-spacing: 1px;
    color: #5a5a5a;
    transition: 0.25s; }
  #menu .navbar-nav > li > a:hover {
    color: #5A80BC; }
  #menu .navbar-toggle {
    border-radius: 0;
    border: none; }
    #menu .navbar-toggle .icon-bar {
      background-color: #5a5a5a; }
    #menu .navbar-toggle:hover, #menu .navbar-toggle:active, #menu .navbar-toggle:focus {
      background-color: #5A80BC;
      background-color: #eee; }
      #menu .navbar-toggle:hover .icon-bar, #menu .navbar-toggle:active .icon-bar, #menu .navbar-toggle:focus .icon-bar {
        background-color: #5A80BC; }

::-moz-selection {
  color: transparent;
  background: #5A80BC; }

::selection {
  color: transparent;
  background: #5A80BC; }

html, body {
  color: #5a5a5a; }

a, a:hover {
  text-decoration: none;
  background-color: transparent; }

.intro {
  width: 70%;
  margin: 0 auto;
  padding: 35vh 0;
  transition: 0.5s; }

.header {
  display: inline-block; }
  .header .name {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 5px; }
  .header .description {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 15px; }

.link {
  font-size: 16px; }
  .link a, .link a:active {
    transition: 0.25s;
    text-decoration: none;
    border-bottom: 1px solid #5a5a5a;
    color: #5a5a5a; }
  .link a:hover {
    color: #5A80BC;
    border-bottom: 1px solid #5A80BC; }
    .link a:hover .arrow {
      margin-left: 0.3em;
      border: solid 1px #5A80BC;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
  .link .arrow {
    margin-left: 0.3em;
    border: solid 1px #5a5a5a;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

.square {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block; }
  .square svg {
    width: 100%;
    height: 100%; }
  .square rect {
    transition: 0.25s;
    fill: #5a5a5a; }
  .square rect:hover {
    fill: #5A80BC; }

.skill {
  display: inline;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 0;
  background-color: #eee;
  padding: 5px 15px;
  white-space: nowrap;
  line-height: 34px; }

.content {
  width: 70%;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 60px;
  transition: 0.5s; }
  .content ul, .content ol, .content p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0; }
  .content img {
    margin: 10px 0;
    image-orientation: from-image; }
  .content img.cover {
    width: 100%; }
  .content img.inline {
    width: 50%; }
  .content img.left {
    float: left;
    margin-right: 15px; }
  .content img.right {
    float: right;
    margin-left: 15px; }
  .content .section {
    font-weight: 100;
    margin: 20px 0; }
    .content .section .title {
      display: inline;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.25em;
      margin-right: 20px; }
  .content a {
    text-decoration: none;
    border-bottom: 1px solid #5a5a5a;
    color: #5a5a5a; }
  .content a:hover {
    color: #5A80BC;
    border-bottom: 1px solid #5A80BC; }
  .content .video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: 10px 0; }
  .content .video iframe, .content .video object, .content .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

@media (min-width: 768px) and (max-width: 1023px) {
  .content, .intro {
    width: 90%; }

  .content .section .title {
    display: block;
    margin-bottom: 10px; } }
@media (max-width: 767px) {
  .square {
    display: none; }

  .content, .intro {
    width: 90%; }

  .content .section .title {
    display: block;
    margin-bottom: 10px; }
  .content img.cover, .content img.inline.left, .content img.inline.right {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0; } }

/*# sourceMappingURL=portfolio-item.css.map */
